/*Ejercicio 1 CSS*/

* {
  color: #333333;
  font-family: Arial;
}
  
h1, h2 {
  color: #4A90E2;
}

.parrafo{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.puntitos{
  border-bottom:1px dotted rgb(0, 0, 0);
  font-family: monospace;
  font-size: .85rem;
}

.acronimo{
  font-family: monospace;
  font-size: .85rem;
}

#ultimo{
  width: 80vw;
}

blockquote{
  color: #666666;
  font-family: serif;
  font-size: 1.2rem;
  font-style: italic;
}

/*Ejercicio 2 CSS*/

.tabla{
    width: 66vw;
    border-collapse: collapse;
    margin-top: 2rem;
    border: 1px black solid;
  }

 .tabla caption{
    padding-bottom: 1rem;
    font-weight: bold;
    text-align: left;
  }

  .tabla thead tr th, .tabla tbody tr th, .tabla tbody tr td {
    border: 1px solid #ddd;
  }

  .tabla th, .tabla td{
     padding: 0.5rem;
  }
  
  .tabla thead {
    background-color: #3c89ba;
    color: #fff;
  }

  .tabla tbody tr th {
    background-color: #fffbcf;
  }

  .version{
    font-size: 1.33rem;
    text-align: center;
  }

  .tag{
    border: 1px solid rgba(180, 180, 180, .3);
    border-radius: 4px;
    padding: .25rem;
    background-color: #eee;
  }

  .cruz{
    border-color: rgba(255, 0, 0, 0.15);
    background-color: rgba(255, 0, 0, 0.3);
  }